@page
@model WebApp.Pages.FuelTypes.DeleteModel

@{
    ViewData["Title"] = "Delete Fuel Type";
}

<h4>Delete Fuel Type</h4>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelType.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="FuelType.Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Back to Types</a>
    </form>
</div>