@page
@model WebApp.Pages.SavedGames.DeleteModel

@{
    ViewData["Title"] = "Forget This Battle";
}

<h1>Forget The Battle</h1>

<h3>Are you sure you want to forget this?</h3>
<div>
    <h4>Saved Battle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Date, Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavedGame.DateTime)
        </dd>
        <dt class="col-sm-2">
            Battle Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavedGame.SavedGameName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SavedGame.SavedGameId" />
        <input type="submit" value="Forget It" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to Saved Battles</a>
    </form>
</div>
